/*
============================================
; Title:  main.css
; Author: Jake Seever
; Date:   03 March 2019
; Description: Global styling for the Jake Seever Portfolio Site
;===========================================
*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#navBar {
  padding-top: .4%;
  padding-bottom: .4%;
  min-height: 50px;
  font-size: 1.5em;
}

nav-link {
  font-size: 1.4em;
}

#aboutRow {
  border: 1px solid black;
}
#projectsGallery, #personalRow {
  margin: 1%;
}

#bannerImg {
  width: 100%;
  height: auto;
}

.imgDiv {
  display: block;
  clear: both;
  height: auto;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
#aboutJake {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 1.7em;
  line-height: 1.7;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 6%;
}

#aboutH1, #projectsH1{
  font-size: 3.5em;
  display: block;
  width: 100%;
  margin-left: 6%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.imgLink {
  width: 100%;
  height: auto;
}


