/*
============================================
; Title:  main.css
; Author: Jake Seever
; Date:   03 March 2019
; Description: Global styling for the Jake Seever Portfolio Site
;===========================================
*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#aboutRow, #personalGallery {
  border: 1px solid black;
}
#projectsRow {
  margin: 1%;
}

#bannerImg {
  width: 100%;
  height: auto;
}

.imgDiv {
  display: block;
  clear: both;
  height: auto;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
#aboutJake {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 6%;
}

#aboutH1{
  margin-left: 6%;
  margin-top: 6%;
  margin-bottom: 2%;
}
